.ui-flow-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &__option {
        color: var(--brand-color);
        display: flex;
        margin-bottom: 0;
        user-select: none;
    }

    &__input {
        display: none;

        &:checked + .ui-flow-tags__label {
            background: var(--brand-color);
            border-color: var(--brand-color);
            color: #FFF;
        }
    }

    &__label {
        background: #FFF;
        border-radius: 40px;
        cursor: pointer;
        font-size: 16px;
        height: 40px;
        line-height: 38px;
        transition-property: background-color, border-color, color;
    }
}